html {
  font-family: "Noto Serif", serif;
}

header, footer {
  background-color: #70ad55;
  color: #fff;
  width: 100%;
}

fieldset {
  border: none;
}

input, textarea, select {
  border-color: #6e8c62;
}

hr {
  height: 2px;
  background-color: #70ad55;
  border: none;
  opacity: .5;
}

span {
  color: #6e8c62;
}

.btn {
  background-color: #6e8c62;
  color: #fff;
  border: none;
}

textarea {
  height: 10em;
}

@media only screen and (min-width: 38em) {

  .grid div:first-child, .grid div:nth-child(5), .grid div:nth-child(3) {
    padding-right: 1.5em;
  }

}
